<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        JagoShopping
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="reqAddItem()">
          <ion-icon name="add"></ion-icon>
        </ion-button>
        <ion-button (click)="reqReset()">
          <ion-icon name="refresh"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list>
      <ion-item *ngFor="let item of list | isChecked:false">
        <ion-label>{{item.text}}</ion-label>
        <ion-checkbox [checked]="item.val" (ionChange)="changeVal(item, $event)"></ion-checkbox>
      </ion-item>
      <ion-list-header *ngIf="hasMarked">
        <ion-label>En la cesta</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let item of list | isChecked:true">
        <ion-label>{{item.text}}</ion-label>
        <ion-checkbox [checked]="item.val" (ionChange)="changeVal(item, $event)"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-app>
