<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        JagoShopping
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="reqAddItem()">
          <ion-icon name="add"></ion-icon>
        </ion-button>
        <ion-button (click)="reqReset()">
          <ion-icon name="refresh"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header *ngIf="hasUnmarked">
        <ion-label>Comprar</ion-label>
      </ion-list-header>
      <app-item-shopping *ngFor="let item of list | isChecked:false"
        [item]="item" (valChange)="changeVal(item, $event)" (deleteItem)="deleteItem(item)">
      </app-item-shopping>
      <ion-list-header *ngIf="hasMarked">
        <ion-label>En la cesta / Ya comprado</ion-label>
      </ion-list-header>
      <app-item-shopping *ngFor="let item of list | isChecked:true"
        [item]="item" (valChange)="changeVal(item, $event)" (deleteItem)="deleteItem(item)">
      </app-item-shopping>
    </ion-list>
  </ion-content>
</ion-app>
