<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        JagoShopping
      </ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="add"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="refresh"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="ion-padding">
      The world is your oyster.
      <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
    </div>
  </ion-content>
</ion-app>
